{{!-- <h1>Project Directory</h1>

{{!-- <div class="container"> --}}

  <div id="main-display">

    <div id="left-side-display">
      <div id="navigation-div">
        <h2>Navigate to a Project</h2>
        <div id="navigation-links-div">
          {{>navigationLinks}} 
        </div>
      </div>
    </div>

    <div id="right-side-display">
      {{>projectCards}}
    </div>

  </div>

{{!-- </div> --}}


<!-- LINK MAIN JAVASCRIPT -->
<script type="text/javascript" src="/public/js/script_all-projects.js"></script> --}}