{{!-- {{#each users as |project|}}

  <a id="nav-link_group0" href="#project-card_group0">
    <ul class="navigation-links">
      <p>Group {{project.groupNumber}}: {{project.projectName}}</p>
    </ul>
  </a>

{{/each}} --}}