<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- REPLACE W/NEW PROJECT TAB TITLE -->
    <title>Hawkshot</title>

    <!-- LINK MATERIALIZE FRAMEWORK -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- LINK GOOGLE FONTS -->
    <!-- <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    /> -->

    <!-- EXAMPLE GOOGLE FONT LINK FOR FONT 'RAJDHANI' -->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;600;700&display=swap" rel="stylesheet"> -->

    <!-- LINK RESET AND MAIN STYLESHEET -->
    <link rel="stylesheet" href="./CSS/reset.css" />
    <link rel="stylesheet" href="./CSS/style_all-projects.css" />
  </head>

  <body>
    <!-- EXAMPLE OF A LINK TO SOMEWHERE IN THE DOCUMENT -->
    <!-- <a href="#Contact_Me">Contact Me</a> -->

    <header>
      <h1>Bootcamp Project Directory</h1>
      <nav>
        <div class="nav-wrapper">
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <!-- Need link to login -->
            <li><a href="#">Login</a></li>
            <li><a href="submission.html">Add a Project</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <div id="main-display">
      <div id="left-side-display">
        <div id="navigation-div">
          <h2>Navigate to a Project</h2>

          <div id="navigation-links-div">
            <a id="nav-link_group0" href="#project-card_group0">
              <ul class="navigation-links">
                <p>0</p>
              </ul>
            </a>
            <a id="nav-link_group1" href="#project-card_group1">
              <ul class="navigation-links">
                <p>Group 1: Project blah blah Title</p>
              </ul>
            </a>
          </div>
        </div>
      </div>

      <div id="right-side-display">
        <div class="project-card" id="project-card_group0">
          <div class="card horizontal">
            <div class="card-image">
              <img
                id="project-img_group0"
                src="./Images/MyPortfolioScreenShot.png"
              />
            </div>

            <div class="card-stacked" id="card-content-div_group0">
              <h3>Project Name</h3>
              <div class="card-content">
                <p>Project by Group 0</p>
                <br />
                <p>
                  text text text text text text text text text text text text
                  text text text text text text text text text text text text
                  text text text text text text text text text text text text
                  text text text text text text text text text text text text
                  text text text text text text text text text text text text
                  text text text text text text text text text text text text
                  text text text text text text text text text text text text
                  text text text text text text text text text text text text
                </p>
                <p>AS A<br />I WANT<br />SO THAT</p>
                <p>AS A<br />I WANT<br />SO THAT</p>
                <p>AS A<br />I WANT<br />SO THAT</p>
              </div>

              <div class="card-action">
                <a href="#">Git Repo</a>
                <a href="#">App Link</a>
              </div>
            </div>
          </div>
        </div>

        <div class="project-card" id="project-card_group1">
          <div class="card horizontal">
            <div class="card-image">
              <img
                id="project-img_group1"
                src="./Images/Accessibility_Screenshot.PNG"
              />
            </div>

            <div class="card-stacked" id="card-content-div_group1">
              <h3>Other Project Name</h3>
              <div class="card-content">
                <p>Project by Group 1</p>
                <br />
                <p>
                  text text text text text text text text text text text text
                  text text text text text text text text text text text text
                  text text text text text text text text text text text text
                  text text text text text text text text text text text text
                  text text text text text text text text text text text text
                  text text text text text text text text text text text text
                  text text text text text text text text text text text text
                  text text text text text text text text text text text text
                </p>
                <p>AS A<br />I WANT<br />SO THAT</p>
                <p>AS A<br />I WANT<br />SO THAT</p>
                <p>AS A<br />I WANT<br />SO THAT</p>
              </div>

              <div class="card-action">
                <a href="#">Git Repo</a>
                <a href="#">App Link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- LINK JQUERY SCRIPT -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.js"
      integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
      crossorigin="anonymous"
    ></script>

    <!-- LINK MATERIALIZE FRAMEWORK SCRIPT -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- LINK MAIN JAVASCRIPT -->
    <script type="text/javascript" src="./JS/script_all-projects.js"></script>
  </body>
</html>
