<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- REPLACE W/NEW PROJECT TAB TITLE -->
    <title>New Project</title>

    <!-- LINK MATERIALIZE FRAMEWORK -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- LINK GOOGLE FONTS -->
    <!-- <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    /> -->

    <!-- EXAMPLE GOOGLE FONT LINK FOR FONT 'RAJDHANI' -->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;600;700&display=swap" rel="stylesheet"> -->

    <!-- LINK RESET AND MAIN STYLESHEET -->
    <link rel="stylesheet" href="./Assets/CSS/reset.css">
    <link rel="stylesheet" href="./Assets/CSS/style.css" />

  </head>

  <body>
    <!-- EXAMPLE OF A LINK TO SOMEWHERE IN THE DOCUMENT -->
    <!-- <a href="#Contact_Me">Contact Me</a> -->






    <!-- LINK JQUERY SCRIPT -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.js"
      integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
      crossorigin="anonymous"
    ></script>

    <!-- LINK MATERIALIZE FRAMEWORK SCRIPT -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- LINK MAIN JAVASCRIPT -->
    <script type="text/javascript" src="./Assets/JS/script.js"></script>
    
  </body>

</html>
