:root {

  --mdPurple: #5e17eb;
  --mdBlue:   #5271ff;
  --ltPurple: #a6a2ff;
  --ltGrey:   #cdcdcd;
  --ltYellow: #fff6a2;
  --white:    #ffffff;
  --dkPurple: #130039;

  --font-subtitle: "Quantico";


  /* --font-subtitle: "Poiret One"; */
  /* --font-subtitle: "Marck Script"; */
  /* --font-subtitle: "Rajdhani"; */
  /* --font-subtitle: "Electrolize"; */
  /* --font-subtitle: "Satisfy"; */
  /* --font-subtitle: "Press Start 2P"; */
  /* --font-subtitle: "El Messiri"; */


}


header {
  width: 100%;
}

nav {
  width: 100%;
  height: 150px;

  background-color: var(--dkPurple);
}

#navBar-titleDiv {
  display: inline-block;
}

ul#navBar-titleDiv.left {
  height:0px;
}

#navBar-logo {
  padding: 10px;
  height: 150px;
}

#navBar-subtitle {
  padding-top: 47px;

  font-size: 28px;
  font-family: var(--font-subtitle);
  
  color: var(--ltYellow);
}

#navBar-links {
  display: inline-block;

  background-color: #ffffff;
}

#navBar-linksDiv {
  padding: 10px;
  padding-top: 80px;
}

.navBtn {
  color: var(--white);
  background-color: var(--mdPurple);
}

.navBtn:hover {
  background-color: var(--mdBlue);
}

.nav-a:hover {
  opacity: 1;
  color: var(--ltPurple);
}

#marquee-div {
  background-color: #4ace39;
  background-image:url("../img/banner-backgrounds/vecteezy_abstract-blue-fluid-wave-banner-template_12389891.JPG");
  margin: 0;
  padding: 0;
}

body { 
  /* width: 100%; */
  margin: 0;
  padding: 0;
  background-color: var(--ltGrey); 

  background-image:url("../img/backgrounds/free-purple-triangles-vector.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}




/* MARQUEE FUNCTIONALITY --------------------- */
.marquee-outer {
  width: 100%;
  height: 300px;	
  overflow: hidden;
  position: relative;
  /* color: orange; */
}

.marquee-inner {
  display: inline-flex;
  position: absolute;
  width: 100%;
  height: 100%;

  /* Apply animation to this element */	
  -moz-animation: scroll-left 45s linear infinite;
  -webkit-animation: scroll-left 45s linear infinite;
  animation: scroll-left 45s linear infinite;

  /* animation-iteration-count: infinite; */
}

/* Move it (define the animation) */
@-moz-keyframes scroll-left {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
  0%   { 
  -moz-transform: translateX(0%); /* Browser bug fix */
  -webkit-transform: translateX(0%); /* Browser bug fix */
  transform: translateX(0%); 		
  }
  100% { 
  -moz-transform: translateX(-100%); /* Browser bug fix */
  -webkit-transform: translateX(-100%); /* Browser bug fix */
  transform: translateX(-100%); 
  }
}
